.sidebar-container {
  background-color: var(--blue);
  padding-top: 19px;

}

/*style logo sidebar*/
.title-menu{
  font-family: "myGaramond";
  font-size: 16px;
}
.image-menu{
  height: 56px;
  width: 36px;
}
.container-image {
  align-items: center;
  text-align: center;
  display: flex;
  padding-left: 40px;
}
/*-----------------*/

/*style line red sidebar*/
.container-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}
.line {
  height: 2px;
  background-color: var(--red-light);
  width: 250px;
}
/*-----------------*/
.text-body-heavy {
  color: var(--neutral-95);
}

.text-body-small-r {
  color: var(--neutral-95);
}

.sidebar-nav {
  text-decoration: none;
  padding-top: 32px;
  padding-left: 0px;
}

a{
  text-decoration: none;
}

.menu-one {
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
}

.menu-two {
  padding-left: 86px;
  padding-right: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
}

.menu-three {
  padding-left: 86px;
  padding-right: 38px;
  padding-top: 9px;
  padding-bottom: 9px;
  height: 40px;
}

.menu-two:hover{
  background-color: var(--blue-60);
}

.menu-three:hover{
  background-color: var(--blue-60);
}

#sidebar {
  width: 323px;
  height: 100vh;
  background-color: var(--blue);
  flex-direction: column;
}

.sidebar-link {
  display: block;
}

li {
  list-style: none;
}

.selected {
  background-color: var(--blue-ligth);
}

/* Estilos para el despliegue suave con transición */
.sidebar-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-out; /* Ajusta la duración y tipo de transición según tus preferencias */
}

.sidebar-dropdown.expanded {
  max-height: 500px; /* Ajusta según la altura máxima que desees para el despliegue */
  transition: max-height 0.6s linear;
}
