<aside id="sidebar">

  <div class="sidebar-container text-light">

    <div class="container-image">
      <img class="image-menu" src="assets/images/logo-menu.png" />
      <h4 class="title-menu mt-3 ms-3">División de Unidad de Salud</h4>
    </div>

    <div class="container-line">
      <div class="line"></div>
    </div>

  </div>

  <ul class="sidebar-nav">
    <li class="sidebar-item">

      <a class="sidebar-link menu-one text-nowrap collapse">
        <img [src]="'./assets/icons/aseguramiento.svg'" alt="Aseguramiento Icon">
        <span class="tittle-icon">Aseguramiento</span>
      </a>

      <ul id="assurance" class="list-unstyled collapsed" data-bs-parent="#sidebar">
        <li class="sidebar-item">

          <a href="#" class="sidebar-link collapse menu-two" (click)="toggleAffiliations()">
            Afiliaciones
          </a>

          <ul id="affiliations" class="sidebar-dropdown list-unstyled" [ngClass]="{ 'expanded': !isAffiliationsCollapsed }">
            <li class="sidebar-item">
              <a [routerLink]="['/membership-aplication']" routerLinkActive="router-link-active"  class="sidebar-link menu-three" (click)="selectOption('Solicitud de afiliación')"
                [ngClass]="{ 'selected': selectedOption === 'Solicitud de afiliación' }">
                Solicitud de afiliación
              </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Gestión de grupo familiar')"
                [ngClass]="{ 'selected': selectedOption === 'Gestión de grupo familiar' }">
                Gestión de grupo familiar
              </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Solicitudes por revisar')"
                [ngClass]="{ 'selected': selectedOption === 'Solicitudes por revisar' }">
                Solicitudes por revisar
              </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Consultar afiliaciones')"
                [ngClass]="{ 'selected': selectedOption === 'Consultar afiliaciones' }">
                Consultar afiliaciones</a>
            </li>
          </ul>

        </li>

        <li class="sidebar-item">

          <a href="#" class="sidebar-link collapse menu-two" (click)="toggleDataUpdate()">
            Actualización de datos
          </a>

          <ul id="dataUpdate" class="sidebar-dropdown list-unstyled" [ngClass]="{ 'expanded': !isDataUpdateCollapsed }">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Solicitud de actualización')"
                [ngClass]="{ 'selected': selectedOption === 'Solicitud de actualización' }">
                Solicitud de actualización
              </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Solicitudes por revisar')"
                [ngClass]="{ 'selected': selectedOption === 'Solicitudes por revisar' }">
                Solicitudes por revisar
              </a>
            </li>
          </ul>

        </li>

        <li class="sidebar-item">

          <a href="#" class="sidebar-link collapse menu-two" (click)="toggleWithdrawals()">
            Retiros
          </a>

          <ul id="Withdrawals" class="sidebar-dropdown list-unstyled" [ngClass]="{ 'expanded': !isWithdrawalsCollapsed }">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Solicitud de retiro')"
                [ngClass]="{ 'selected': selectedOption === 'Solicitud de retiro' }">
                Solicitud de retiro
              </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Solicitudes por revisar')"
                [ngClass]="{ 'selected': selectedOption === 'Solicitudes por revisar' }">
                Solicitudes por revisar
              </a>
            </li>
          </ul>

        </li>

        <li class="sidebar-item">

          <a href="#" class="sidebar-link collapse menu-two" (click)="togglePayroll()">
            Nómina
          </a>

          <ul id="Payroll" class="sidebar-dropdown list-unstyled" [ngClass]="{ 'expanded': !isPayrollCollapsed }">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Actualizar nómina manual')"
                [ngClass]="{ 'selected': selectedOption === 'Actualizar nómina manual' }">
                Actualizar nómina manual
              </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Cargar nómina')"
                [ngClass]="{ 'selected': selectedOption === 'Cargar nómina' }">
                Cargar nómina
              </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three" (click)="selectOption('Consultar nómina')"
                [ngClass]="{ 'selected': selectedOption === 'Consultar nómina' }">
                Consultar nómina
              </a>
            </li>
          </ul>

        </li>

      </ul>

    </li>

  </ul>
</aside>
