<aside id="sidebar">

  <div class="sidebar-container text-light py-3">

    <div class="container-image">
      <img class="image-menu" src="assets/images/logo-menu.png" />
      <h4 class="tittle-menu mt-3 ms-3">División de Unidad de Salud</h4>
    </div>

    <div class="container-line">
      <div class="line"></div>
    </div>

  </div>

  <ul class="sidebar-nav">

    <li class="sidebar-item">

      <a href="#" class="sidebar-link menu-one text-nowrap collapse" data-bs-toggle="collapse"
        data-bs-target="#assurance" aria-controls="assurance" aria-expanded="false">

        <img [src]="'./assets/icons/shield.svg'" alt="Search Box Icon">

        <span class="px-2">Aseguramiento</span>

      </a>

      <ul id="assurance" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

        <!-- data-bs-toggle="collapse" permite que se despliegue el menú o no -->

        <li class="sidebar-item">

          <a href="#" class="sidebar-link collapse menu-two" data-bs-toggle="collapse" data-bs-target="#subAssurance"
            aria-expanded="true" aria-controls="subAssurance">
            Afiliaciones
          </a>
          <ul id="subAssurance" class="sidebar-dropdown list-unstyled collapse">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three">Solicitud de afiliación</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three">Gestión de grupo familiar</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three">Solicitudes por revisar</a>
            </li>
            <li class="sidebar-item">
              <a routerLink="/aseguramiento/form-area-afiliaciones" class="sidebar-link menu-three">Solicitud de
                afiliación</a>
            </li>
          </ul>
        </li>

      </ul>

    </li>

    <li class="sidebar-item">

      <a href="#" class="sidebar-link menu-one text-nowrap collapse" data-bs-toggle="collapse" data-bs-target="#hiring"
        aria-controls="hiring" aria-expanded="false">

        <img [src]="'./assets/icons/shield.svg'" alt="Search Box Icon">

        <span class="px-2">Contratación</span>

      </a>

      <ul id="hiring" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

        <!-- data-bs-toggle="collapse" permite que se despliegue el menú o no -->

        <li class="sidebar-item">

          <a href="#" class="sidebar-link collapse menu-two" data-bs-toggle="collapse" data-bs-target="#SubHiring"
            aria-expanded="false" aria-controls="SubHiring">
            Afiliaciones
          </a>
          <ul id="SubHiring" class="sidebar-dropdown list-unstyled collapse">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three">Solicitud de afiliación</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three">Gestión de grupo familiar</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link menu-three">Solicitudes por revisar</a>
            </li>
            <li class="sidebar-item">
              <a routerLink="/aseguramiento/form-area-afiliaciones" class="sidebar-link menu-three">Solicitud de
                afiliación</a>
            </li>
          </ul>
        </li>

      </ul>

    </li>

  </ul>
</aside>
