<header class="row">
  <div class="col-6 d-flex align-items-center">
      <h5 class="text-nowrap title ms-4">Sistema De Gestión Integral</h5>
  </div>
  <div class="col-6 d-flex justify-content-end align-items-center">
      <div class="dropdown">
          <button class="btn  dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Laura Isabella Ruiz Chamorro
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
          </ul>
      </div>
  </div>
</header>
