<header class="row ">
  <div class="col-6 d-flex align-items-center">
    <h5 class="text-nowrap title">Sistema De Gestión Integral</h5>
  </div>

  <div class="col-6 pt-4">

    <div class="row">

      <div class="col">
        <h6></h6>
      </div>

      <div class="col d-flex justify-content-end align-items-center">
        <div class="dropdown me-3">
          <a class="btn dropdown-toggle text-dark  bg-transparent border-0" href="#" role="button"
            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Laura Isabella Ruiz Chamorro
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <h6></h6>
      </div>

    </div>

  </div>

</header>
