<div class="container-fluid">

  <form [formGroup]="contributorDataForm" (ngSubmit)="onSaveMembershipAreaData()">

    <div class="row">
      <span class="title-page-form">2. Información del cotizante</span>
    </div>

    <fieldset>
      <legend class="title-three">Datos personales</legend>
      <div class="row mb-3">

        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="tipoIdentificacion" formControlName="tipoIdentificacion">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Tipo de identificación</label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="numeroIdentificacion" placeholder="Digitar respuesta" formControlName="numeroIdentificacion">
            <label class="text-body-small-sb">Número de identificación</label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating">
            <input type="date" class="form-control text-body" id="fechaExpedicion" formControlName="fechaExpedicion">
            <label class="text-body-small-sb">Fecha de expedición</label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating">
            <input type="date" class="form-control text-body" id="fechaVencimiento" formControlName="fechaVencimiento">
            <label class="text-body-small-sb">Fecha de vencimiento</label>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="primerApellido" placeholder="Digitar respuesta" formControlName="primerApellido">
            <label class="text-body-small-sb">Primer apellido</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="segundoApeliido" placeholder="Digitar respuesta" formControlName="segundoApeliido">
            <label class="text-body-small-sb">Segundo apellido</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="primerNombre" placeholder="Digitar respuesta" formControlName="primerNombre">
            <label class="text-body-small-sb">Primer nombre</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="SegundoNombre" placeholder="Digitar respuesta" formControlName="SegundoNombre">
            <label class="text-body-small-sb">Segundo nombre</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="fechaNacimiento" formControlName="fechaNacimiento">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Fecha de nacimiento</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="paisNacimiento" formControlName="paisNacimiento">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option *ngFor="let p of pais" [value]="p.id">{{ p.descripcion }}</option>
            </select>
            <label class="text-body-small-sb">País de nacimiento</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="deptNacimiento" formControlName="deptNacimiento">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option *ngFor="let dept of departamento" [value]="dept.id">{{ dept.descripcion }}</option>
            </select>
            <label class="text-body-small-sb">Departamento de nacimiento</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="ciudadNacimiento" formControlName="ciudadNacimiento">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Ciudad de nacimiento</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="grupoEtnico" formControlName="grupoEtnico">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Grupo étnico</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="grupoPoblacional" formControlName="grupoPoblacional">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Grupo poblacional</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="sexo" formControlName="sexo">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Sexo</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="orientacionSexual" formControlName="orientacionSexual">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Orientación sexual</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="estadoCivil" formControlName="estadoCivil">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Estado civil</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="escolaridad" formControlName="escolaridad">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Escolaridad</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="profesion" placeholder="Digite su respuesta" formControlName="profesion">
            <label class="text-body-small-sb">Profesión</label>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="title-three">Datos de salud</legend>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="epsAnterior" formControlName="epsAnterior">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option *ngFor="let eps of epsAnterior" [value]="eps.id">{{ eps.descripcion }}</option>
            </select>
            <label class="text-body-small-sb">Eps anterior</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="regimen" formControlName="regimen">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Régimen</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="tipoSangre" formControlName="tipoSangre">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Tipo de sangre</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="rh" formControlName="rh">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">RH</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="discapacidadFisica" formControlName="discapacidadFisica">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <!-- ESTO TOCA CAMBIARLO -->
              <option *ngFor="let disFisica of discapacidad" [value]="disFisica.id">{{ disFisica.grado }}</option>
            </select>
            <label class="text-body-small-sb">Discapacidad física</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="discapacidadVisual" formControlName="discapacidadVisual">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Discapacidad visual</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="discapacidadCognitiva" formControlName="discapacidadCognitiva">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Discapacidad cognitiva</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="discapacidadAuditiva" formControlName="discapacidadAuditiva">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Discapacidad auditiva</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="planComplementario" formControlName="planComplementario">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Plan complementario</label>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="title-three">Datos de ubicación y contacto</legend>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="deptResidencia" formControlName="deptResidencia">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Departamento de residencia</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="ciudadResidencia" formControlName="ciudadResidencia">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Ciudad de residencia</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="direccionResidencia" placeholder="Digitar respuesta" formControlName="direccionResidencia">
            <label class="text-body-small-sb">Dirección de residencia</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="barrio" placeholder="Digitar respuesta" formControlName="barrio">
            <label class="text-body-small-sb">Barrio</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="zona" formControlName="zona">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Zona</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <select class="form-select text-body" id="estrato" formControlName="estrato">
              <option value="null" selected disabled>Seleccionar respuesta</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <label class="text-body-small-sb">Estrato</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="celular" placeholder="Digitar respuesta" formControlName="celular">
            <label class="text-body-small-sb">Celular</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="telefono" placeholder="Digitar respuesta" formControlName="telefono">
            <label class="text-body-small-sb">Teléfono</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="correo" placeholder="Digitar respuesta" formControlName="correo">
            <label class="text-body-small-sb">Correo electrónico</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="correoAlternativo" placeholder="Digitar respuesta" formControlName="correoAlternativo">
            <label class="text-body-small-sb">Correo electrónico alternativo</label>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="title-three">Datos de contacto de emergencia</legend>
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="nombreEmer" placeholder="Digitar respuesta" formControlName="nombreEmer">
            <label class="text-body-small-sb">Nombre completo</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="direccionEmer" placeholder="Digitar respuesta" formControlName="direccionEmer">
            <label class="text-body-small-sb">Dirección</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="telefonoEmer" placeholder="Digitar respuesta" formControlName="telefonoEmer">
            <label class="text-body-small-sb">Teléfono</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <input type="text" class="form-control text-body" id="celularEmer" placeholder="Digitar respuesta" formControlName="celularEmer">
            <label class="text-body-small-sb">Celular</label>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="title-three">Carga de archivos</legend>
      <div class="row mb-3">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
      </div>
    </fieldset>



    <div class="button-container">
      <button (click)="irAFormulario(1)" type="button" class="btn-custom-normal">Atrás</button>
      <button type="button" class="btn-custom-normal mx-3 text-body-heavy">Cancelar</button>
      <button (click)="irAFormulario(3)" type="submit" class="btn-custom-normal">Siguiente</button>
    </div>

  </form>

</div>
