<div class="container-fluid">
  <form [formGroup]="membershipAreaDataForm" (ngSubmit)="onSaveMembershipAreaData()">
    <div class="row">
      <span class="title-page-form title-two">1. Información del área de afiliaciones de la unidad de salud</span>
    </div>

    <div class="row mb-3">
      <div class="col-3">
        <div class="form-floating">
          <input type="date" class="form-control text-body" id="fechaIngreso" formControlName="fechaIngreso">
          <label class="text-body-small-sb" >Fecha ingreso al SGSSS</label>
        </div>
      </div>

      <div class="col-3">
        <div class="form-floating">
          <select class="form-select text-body" id="tipoAfiliacion" formControlName="tipoAfiliacion">
            <option value="null" selected disabled>Seleccionar respuesta</option>
            <option value="NUEVO">Nuevo</option>
            <option value="REINTEGRO">Reintegro</option>
            <option value="TRASLADO">Traslado</option>
          </select>
          <label class="text-body-small-sb">Tipo de afiliación</label>
        </div>


      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6">
        <div class="form-floating">
          <textarea class="form-control text-body" placeholder="Digitar respuesta" id="observaciones" formControlName="observaciones"></textarea>
          <label class="text-body-small-sb">Observaciones</label>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="button" class="btn-custom-disabled" disabled >Atrás</button>
      <button type="button" class="btn-custom-normal mx-3 text-body-heavy">Cancelar</button>
      <button type="button" class="btn-custom-normal" (click)="onSaveMembershipAreaData()">Siguiente</button>
    </div>


  </form>


</div>
