<div class="container-fluid">

  <form [formGroup]="membershipAreaDataForm" (ngSubmit)="onSaveMembershipAreaData()">

    <div class="row">
      <span class="title-two mb-4">1. Información del área de afiliaciones de la unidad de salud</span>
    </div>

    <div class="row mb-4">
      <div class="col-3">
        <div class="form-floating">
          <input type="date" class="form-control text-body" id="fechaIngresoSgsss" formControlName="fechaIngresoSgsss">
          <label class="text-body-small-sb" >Fecha ingreso al SGSSS</label>
        </div>
      </div>

      <div class="col-3">
        <div class="form-floating">
          <select class="form-select text-body" id="tipoAfiliacion" formControlName="tipoAfiliacion">
            <option value="null" selected disabled>Seleccionar respuesta</option>
            <option value="C0">Nuevo</option>
            <option value="C1">Reintegro</option>
            <option value="C2">Traslado</option>
          </select>
          <label class="text-body-small-sb">Tipo de afiliación</label>
        </div>
      </div>

    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="form-floating">
          <textarea class="form-control text-body" placeholder="Digitar respuesta" id="observacion" formControlName="observacion"></textarea>
          <label class="text-body-small-sb label-textarea">observacion</label>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="button" class="btn-custom-disabled" disabled >Atrás</button>
      <button type="button" class="btn-custom-normal mx-3 text-body-heavy" (click)="openConfirmationModal()">Cancelar</button>
      <button type="button" class="btn-custom-normal" (click)="onSaveMembershipAreaData()">Siguiente</button>
    </div>

  </form>

</div>

<shared-confirm-dialog
  [modalId]="'modalLaboralData'"
  [title]="'Guardar cambios'"
  [message]="'¿Está seguro que desea guardar los cambios?'"
  (confirm)="pruebaModal()">
</shared-confirm-dialog>
