<div class="container-fluid prueba">

  <div class="row">
    <span class="titleForm">1. Información del área de afiliaciones de la unidad de salud</span>
  </div>

  <div class="row">

    <div class="custom-input-container">
      <div class="tittle-input">Número de identificación</div>
      <input type="text" class="form-control" placeholder="Digitar respuesta">
    </div>

    <div class="custom-input-container">
      <div class="tittle-input">Número de identificación</div>
      <input type="text" class="form-control" placeholder="Digitar respuesta">
    </div>

  </div>

  <div class="row">
    <div class="custom-input-container">
      <div class="tittle-input">Número de identificación</div>
      <input type="text" class="form-control" placeholder="Digitar respuesta">
    </div>
  </div>

</div>
