.container-fluid{
  background-color: var(--white);
  padding-right: 112px;
  padding-left: 112px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.titleForm{
  font-family: "FiraSans-Bold";
  font-size: 32px;
  color: var(--blue);
  padding-bottom: 50px;
}


/*Forms custom*/
.custom-forms-container {
  position: relative;
  height: 63px;
  width: 303px;
}
.title-forms {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  font-family: "FiraSans-SemiBold";
  font-size: 14px;
  color: var(--neutral-70);
  padding-top: 11px;
  padding-left: 30px;
  padding-right: 30px;
}

/*Inpunt custom*/
.form-control {
  font-family: "FiraSans-Regular";
  font-size: 16px;
  color: var(--blue);
  padding-left: 28px;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 8px;
  border-radius: 8px;
  border-width: 1px;
  border-color: var(--blue);
  width: 100%;
  height: 100%;
}
.form-control::placeholder {
  color: var(--blue);
}
.form-control:focus {
  border-color: var(--neutral-70);
  box-shadow: none;
}

/*select custom*/
.form-select {
  font-family: "FiraSans-Regular";
  font-size: 16px;
  color: var(--blue);
  padding-left: 28px;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 8px;
  border-radius: 8px;
  border-width: 1px;
  border-color: var(--blue);
  width: 100%;
  height: 100%;
  --bs-form-select-bg-img: url('../../../../../../../assets/icons/select-icon.svg');
}
.form-select::placeholder {
  color: var(--blue);
}
.form-select::placeholder {
  color: var(--blue);
}
.form-select:focus {
  border-color: #949494;
  box-shadow: none;
}

/*Data custom*/
.icon-date{
  --bs-form-select-bg-img: url('../../../../../../../assets/icons/select-icon.svg');
}

/*Textarea custom*/
.custom-textarea-container {
  position: relative;
  height: 126px;
  width: 627px;
}
