<div class="container-fluid">

  <div class="row">
    <span class="title-page-form title-two">1. Información del área de afiliaciones de la unidad de salud</span>
  </div>

  <div class="row mb-3">

    <div class="col-3">
      <div class="custom-forms-container">
        <div class="title-forms text-body-small-sb">Fecha ingreso al SGSSS</div>
        <input type="date" class="form-control form-control-custom icon-date">
      </div>
    </div>

    <div class="col-9">
      <div class="custom-forms-container">
        <div class="title-forms text-body-small-sb">Tipo de afiliación</div>
        <select class="form-select form-select-custom" aria-label="Default select example">
          <option selected>Seleccionar respuesta</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div class="custom-textarea-container">
        <div class="title-forms text-body-small-sb">Observaciones</div>
        <textarea class="form-control form-control-custom text-body" placeholder="Digitar respuesta"></textarea>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-6">
      <div class="custom-forms-container">
        <div class="title-forms text-body-small-sb">Número de identificación</div>
        <input type="text" class="form-control form-control-custom text-body" placeholder="Digitar respuesta">
      </div>
    </div>

  </div>

</div>
