<section class="container-fluid">

  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
      <a class="nav-item nav-link navOne disabled" [ngClass]="{ 'active-tab': formularioActual === 1 }">
        <span class="text-body-small-sb">Datos del área de afiliaciones</span>
      </a>


    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-item nav-link navTwo disabled" [ngClass]="{ 'active-tab': formularioActual === 2 }">
        <span class="text-body-small-sb">Datos del cotizante</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-item nav-link navThree disabled" [ngClass]="{ 'active-tab': formularioActual === 3 }">
        <span class="text-body-small-sb">Gestión grupo familiar</span>
      </a>
    </li>
    <li class="nav-item" role="presentation" [ngClass]="{ 'active-tab': formularioActual === 4 }">
      <a class="nav-item nav-link navFour disabled">
        <span class="text-body-small-sb">Datos del empleador</span>
      </a>
    </li>

  </ul>

  <div *ngIf="formularioActual === 1">
    <app-membership-area-data (changeForm)="cambiarFormulario($event)"></app-membership-area-data>
  </div>
  <div *ngIf="formularioActual === 2">
    <app-contributor-data (changeForm)="cambiarFormulario($event)"></app-contributor-data>
  </div>
  <div *ngIf="formularioActual === 3">
    <app-family-group-management (changeForm)="cambiarFormulario($event)"></app-family-group-management>
  </div>
  <div *ngIf="formularioActual === 4">
    <app-employer-data (changeForm)="cambiarFormulario($event)"></app-employer-data>
  </div>


</section>

<!-- <section class="container-fluid">

  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
      <a href="#membership-area-data" class="nav-item nav-link link navOne disabled" id="membership-area-data-tab"
        data-bs-toggle="tab" role="tab" aria-controls="membership-area-data" aria-selected="true"
        [class.active-tab]="getTabClass(0)">
        <span class="text-body-small-sb">Datos del área de afiliaciones</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#contributor-data" class="nav-item nav-link link navTwo text-body-small-sb disabled" id="contributor-data-tab"
        data-bs-toggle="tab" role="tab" aria-controls="contributor-data" aria-selected="true"
        [class.active-tab]="getTabClass(1)">
        <span class="text-body-small-sb">Datos del cotizante</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#family-group-management" class="nav-item nav-link link navThree text-body-small-sb disabled"
        id="family-group-management-tab" data-bs-toggle="tab" role="tab" aria-controls="family-group-management"
        aria-selected="true" [class.active-tab]="getTabClass(2)">
        <span class="text-body-small-sb">Gestión grupo familiar</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#employer-data" class="nav-item nav-link link navFour text-body-small-sb disabled" id="employer-data-tab"
        data-bs-toggle="tab" role="tab" aria-controls="employer-data" aria-selected="true"
        [class.active-tab]="getTabClass(3)">
        <span class="text-body-small-sb">Datos del empleador</span>
      </a>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">

    <div *ngIf="activeTabIndex === 0" id="membership-area-data" role="tabpanel"
      aria-labelledby="membership-area-data-tab">
      <app-membership-area-data></app-membership-area-data>
    </div>
    <div *ngIf="activeTabIndex === 1" id="contributor-data" role="tabpanel" aria-labelledby="contributor-data-tab">
      <app-contributor-data></app-contributor-data>
    </div>
    <div *ngIf="activeTabIndex === 2" id="family-group-management" role="tabpanel"
      aria-labelledby="family-group-management-tab">
      <app-family-group-management></app-family-group-management>
    </div>
    <div *ngIf="activeTabIndex === 3" id="employer-data" role="tabpanel" aria-labelledby="employer-data-tab">
      <app-employer-data></app-employer-data>
    </div>

  </div>

  <div class="button-container">
    <button (click)="goBack()" [disabled]="isFirstTab()" type="button" class="text-body-heavy"
      [class.btn-custom-normal]="!isBackButtonInFirstTab()" [class.btn-custom-disabled]="isBackButtonInFirstTab()">
      Atrás
    </button>
    <button type="button" class="btn-custom-normal mx-3 text-body-heavy">Cancelar</button>
    <button (click)="goForward()" [disabled]="isLastTab()" type="button" class="btn-custom-normal text-body-heavy">
      {{ getButtonText()}}
    </button>

  </div>

</section> -->
