.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.nav-tabs .nav-link {
  color: var(--blue);
  background-color: var(--white);
  height: 45px;
  width: 250px;
  text-align: center;
  padding-top: 10px;
}

.nav-link.active {
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  border-bottom: 2px solid #ff0000;
}

.navOne{
  margin-right: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.navTwo{
  margin-right: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.navThree{
  margin-right: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.navFour{
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.active-tab {
  position: relative;
}

.active-tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 32px;
  width: 185px;
  border-bottom: 2px solid red;
}





