footer span{
  color: rgba(119, 118, 128);
  text-align: center;
  font-family: "FiraSans-Regular";
  font-size: 12px;

  text-transform: capitalize;
}

.hr-container {
  width: 65%;
}

.hr-line {
  width: 100%;
}
