footer span{
  color: rgba(119, 118, 128);
  text-align: center;
  font-family: "FiraSans-Regular";
  font-size: 14px;

  text-transform: capitalize;
}

.hr-container {
  width: 1001px;
  padding: 0px;
}

.hr-line {
  width: 100%;

}
