<div class="d-flex">
  <shared-sidebar></shared-sidebar>
  <div class="main">
    <shared-header class="sticky-top"></shared-header>
    <div class="container-fluid px-5">

      <div class="custom-select-container">
        <div class="tittle-select">Número de identificación</div>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!-- <router-outlet></router-outlet> -->
    </div>
    <shared-footer></shared-footer>
  </div>
</div>
