<div class="d-flex">
  <shared-sidebar></shared-sidebar>
  <div class="main">
    <header class="row p-4">
      <div class="col-3 d-flex align-items-center">
          <h5 class="text-nowrap title ms-4">Unisalud</h5>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
          <nav class="w-100 px-5">

          </nav>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sergio Erazo
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
          </div>
      </div>
    </header>

    <div class="container px-5">

    </div>
    <footer>
      <div class="row">
        <div class="col-12">
          <!-- Footer -->
        </div>
      </div>
    </footer>
  </div>
</div>
