.container-fluid{
  background-color: var(--white);
  padding-right: 112px;
  padding-left: 112px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 8px;
}

.titleForm{
  font-family: "FiraSans-Bold";
  font-size: 32px;
  color: var(--blue);
  padding-bottom: 50px;
}

