
/* colors */
:root {
  /*AZUL: Color institucional primario: */
  --blue: #000066; /* Color primario */
  /*ROJO: Color institucional secundario:*/
  --red-light: #DB141C; /* Color secundario */
  /*OTROS COLORES*/
  --gray-background: #E5E1E5;
  --white: #FFFFFF; /* Blanco */
  --neutral-95: #F2EFFA; /* Neutral 95 */
  --neutral-90: #E4E1EC; /* Neutral 90 */
  --neutral-80: #C8C5D0; /* Neutral 80 */
  --neutral-70: #ADAAB4; /* Neutral 70 */
  --neutral-60: #928F9A; /* Neutral 60 */
  --neutral-50: #777680; /* Neutral 50 */
  --blue-ligth: #5056AC; /* Color secundario ligth */
  --blue-60:    #828AE3; /* Azul 60 */
  --blue-tertiary-95: #ECF0FF; /* Azul tertiary 95 */
  --blue-tertiary-90: #D6E2FF; /* Azul tertiary 90 */
  --error-ligth: #A04200; /* Error light */
  --error-ligth-2: #FFDBCC; /* Error light 2 */
  --yellow-color-dos: #FFB000; /* Amarillo color dos */
  --green-color-tres: #5BAE40; /* Verde color tres */
  --green-uno: #EEFFE9; /* Verde 1 */
}

/* Fonts */
@font-face {
  font-family: "FiraSans-Black";
  src: url('./assets/fonts/FiraSans-Black.ttf') format("truetype");
}
@font-face {
  font-family: "FiraSans-Bold";
  src: url('./assets/fonts/FiraSans-Bold.ttf') format("truetype");
}
@font-face {
  font-family: "FiraSans-Light";
  src: url('./assets/fonts/FiraSans-Light.ttf') format("truetype");
}
@font-face {
  font-family: "FiraSans-Regular";
  src: url('./assets/fonts/FiraSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "FiraSans-SemiBold";
  src: url('./assets/fonts/FiraSans-SemiBold.ttf') format("truetype");
}

/* BUTTON CUSTOM */

/* Button normal */
.btn-custom-normal {
  font-family: "FiraSans-SemiBold";
  font-size: 16px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 100px;
  width: 120px;
  height: 40px;
}
.btn-custom-normal:hover {
  background-color:  var(--blue-ligth);
}

/* Button disabled */
.btn-custom-disabled {
  font-family: "FiraSans-SemiBold";
  font-size: 16px;
  color: var(--neutral-60);
  background-color: var(--neutral-95);
  border: none;
  border-radius: 100px;
  width: 120px;
  height: 40px;
}
