

/* colors */

:root {

  /*AZUL: Color institucional primario: */

  --blue-primary: #000066; /* Color primario */
  --blue-light: #5056AC; /* Color primario light */
  --blue-dark: #07184A; /* Color primario dark */

  /*ROJO: Color institucional secundario:*/

  --red-primary: #DB141C; /* Color secundario */
  --red-light: #9D0311; /* Color secundario light */
  --red-dark: #690007; /* Rojo primario */

  /*ROJO: Color institucional secundario:*/

  --gray-primary: #F2EFFA; /* Gris primario */

  --white-primary: #ffffff;  /* Blanco primario */

  --gray-background: #E4E1EC;  /* Gris fondo */

  --gray-secondary: #F2EFFA; /* Gris primario */

}

/* Fonts */

@font-face {
  font-family: "FiraSans-Black";
  src: url('./assets/fonts/FiraSans-Black.ttf') format("truetype");
}

@font-face {
  font-family: "FiraSans-Bold";
  src: url('./assets/fonts/FiraSans-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "FiraSans-Light";
  src: url('./assets/fonts/FiraSans-Light.ttf') format("truetype");
}

@font-face {
  font-family: "FiraSans-Regular";
  src: url('./assets/fonts/FiraSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "FiraSans-SemiBold";
  src: url('./assets/fonts/FiraSans-SemiBold.ttf') format("truetype");
}
